section#content {
    margin-top: 49px;
    margin-left:30px
}


section#content h2 {
    color: #3498db;
    display: block!important;
    clear: both;
    width: 100%;
}

.recap {
    font-size: 24px;
    margin-bottom: 20px;
    margin-top: 20px;
    width: 100%;
}

hr.linehr {
    color: #b8e2ff;
    display: block;
    border-top: dotted;
    width: 100%;
}
span.goed {
    background-color: #309427;
    /* padding: 3px; */
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 3px;
    font-weight: bold;
    color: white;
}

span.slecht {
    background-color: #CC0000;
    /* padding: 3px; */
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 3px;
    font-weight: bold;
    color: white;
}
span.pers {
    display: block;
    background-color: #3498db;
    color: white;
    padding: 13px;
    margin-bottom: 16px;
    border-radius: 3px;
}